@import url('httpsfonts.googleapis.comcssfamily=Poppins');
@import url('httpsfonts.googleapis.comcssfamily=Open+Sans');

@page {
    size: A4 portrait;
  }
  @page :blank {
    @top-center { content: "This page is intentionally left blank." }
  }
*{
    font-family: Poppins, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #F9F8FF;
}
hr{
    border-color: solid #028DCE;
}
h1{
    color: #0D6EFD;
    font-weight: bolder;
}
p{
    font-weight: bold;
}
.container-header{
    padding: 20pt;
    text-align: center;
}
.container-personal-data{
    display: flex;
    justify-content: space-around;
}
.container-personal-data > div{
    width: fit-content;
    margin: 1vh;
    text-align: center;
}
.container-listagem{
    margin-inline: 10vw;
    box-shadow: 2pt 10pt 10pt 2pt rgb(212, 206, 206);
    text-align: center;
    margin-top: 10pt;
    margin-bottom: 30pt;
    padding: 5pt;
}
.container-listagem  h2{
    padding-top: 10pt;
    color: #028DCE;
}
#Copyright{
    font-family: 'Courier New';
    font-size: medium;
    font-style: oblique;
}
table{
    width: 100%;
}
table, th, td{
    border: 2pt solid black;
}