@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.body-login {
    background-image: url(imagemOficial.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Poppins",sans-serif;
    padding: 0;
    margin:0;
}

a{
    text-decoration: none;
}


#login, #password-login{
    width: 30%;
    margin:0 35%;
    padding-top: 150px;
}

.box-login {
    box-shadow: rgb(233, 233, 240);
    background-image: linear-gradient(to top, rgb(160, 228, 240), rgb(9, 120, 247));
    padding: 20px;
    border-radius: 50px;
}

h2{
    color: black;
    text-align: center;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

label {
    color: black;
    display: block;
    font-weight: bold;
    font-size: 16px;
}

input {
    border-radius: 15px;
    width: 95%;
    height: 15px;
    padding: 5px 10px;
    background:white;
    border: 2px solid #ffff;
    margin-bottom: 10px;
    font-size:16px
}

input:focus {
    border: 2px solid #0D6EFD;
    outline:0;
}

input:hover {
    box-shadow: 2px 2px 2px #f1efef;

}

.text {
    cursor: pointer;
    color:#333333;
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

.enter {
    text-align: center;
}

.enter  >button {
    background-image: linear-gradient(to right, blue, blue);
    border:0px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-family: "Poppins",sans-serif;
    font-weight: bold;
    font-size:15px;
    margin:10px 0;
    padding: 10px;
    width: 50%;
}

#login .enter  button:hover, #password-login button:hover {
    background-image: linear-gradient(to right, rgb(199, 218, 240), rgb(14, 122, 247));
    color: black;
}

#first-access .enter  button:hover{
    background-image: none;
    background-color: rgb(206, 229, 255);
    color: black;
}
#first-access{
    width: 30%;
    margin:0 35%;
    padding-top: 100px;
}

#first-access .box-login {
    background-image: radial-gradient(circle, #90bdff, #85b6ff, #7ab0ff, #6fa9ff, #64a2ff);
}

#access{
width:40%;
margin: 0 30%;
}

#access .access-box{
    background-color: blue;
    border-radius: 0 0 30px 30px;
    padding:13px;
    text-align:center;
}
#access a{
    color:white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

#access a:hover {
    color: #d6eeee;
}

#container-img{
    width: 80%;
    margin:0 10%;
}
#container-wave{
    width: 100%;
}

#container-img .img-login, #container-wave .img-login{
    display:none;
}
#container-img .img-login img, #container-wave .img-login img{
    width:100%;
    height: 100%;
}

  /*---------------------------Login para mobile --------------------------------*/

  @media (max-width:760px){
    .body-login {
        background: #ffff;
        font-family: "Poppins",sans-serif;
        padding: 0;
        margin:0;
    }
    #login, #password-login{
        margin:0;
        padding-top:0;
        width:100%;
    }

    .box-login {
        background: #F4F3F9;
        border-radius: 40px 40px 0 0;
        padding: 5px 40px 15px 40px;
        height:50%;
    }

    .top-page{
        background: #0D6EFD;
        height: 50%;
    }

    input {
        border-radius: 20px;
        height: 12px;
        padding: 10px;
        background:white;
        margin-bottom:3px;
    }

    .enter  >button {
        border-radius: 20px;
        padding: 8px 10px;
        width: 95%;
        margin:10px 3% 6px 3%;
    }

    label {
        margin-top: 8px;
        font-size:14px;
    }

    #access{
        width:70%;
        margin-left:15%;
        margin-right:15%;
        margin-top:-7px;
        margin-bottom: 5%;
    }
    #access .access-box{
        background-color: blue;
        border-radius: 0 0 30px 30px;
        padding:5px 10px;
        text-align:center;
    }

    #access a{
        font-size: 18px;
    }

    #first-access{
        margin:0 0 0 0;
        padding-top:0;
        width:100%;
        height:40%;
    }
   /* <a href='https://br.freepik.com/vetores/projeto'>Projeto vetor criado por freepik - br.freepik.com</a>*/
    #first-access .box-login {
        background: #F4F3F9;
    }

    h2{
        font-size: 18px;
        margin-block-start: 5px;
    }
    
    h4{
        margin-bottom:0;
        margin-top:0;
        text-align:center;
        font-weight: normal;
        font-size: 14px;
    }
    #container-img .img-login, #container-wave .img-login{
        display: initial;
    }
    .text{
        font-size:13px;
    }
  }

/*------------------*/
  @media (min-width:1023px) and (max-width:1024px){
    #access{
        width:40%;
        margin: 0 30%;
    }   
    #login, #password-login{
        width: 40%;
        margin:0 30%;
        padding-top: 150px;
    }
    #first-access{
        width: 40%;
        margin:0 30%;
        padding-top: 100px;
    }
  }

  @media (min-width:761px) and (max-width:1022px){
    #access{
        width:50%;
        margin: 0 25%;
    }   
    #login, #password-login{
        width: 50%;
        margin:0 25%;
        padding-top: 100px;
    }
    #first-access{
        width: 50%;
        margin:0 25%;
        padding-top: 70px;
    }
    h4{
        margin-bottom:0;
        text-align:center;
    }
    #first-access .box-login {
        padding: 10px 20px;
    }
    #first-access h2{
        font-size: 20px;
    }
  }
