@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.body-login {
    background-image: url(imagemOficial.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Poppins",sans-serif;
}

#login{
    width: 30%;
    margin: auto;
    padding-top: 170px;
}

.box-login {
    box-shadow: blue;
    background-image: linear-gradient(to top, rgb(160, 228, 240), rgb(9, 120, 247));
    padding: 20px;
    border-radius: 50px;
}

#login h2{
    color: black;
    text-align: center;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

#login label {
    color: black;
    display: block;
    font-weight: bold;
    font-size: 16px;
}

#login input {
    border-radius: 15px;
    width: 95%;
    height: 15px;
    padding: 5px 10px;
    background:#ffff;
    border: 1px solid #ffff;
    margin-bottom: 10px;
}

#login input:focus {
    border: 2px solid #0D6EFD;
    outline:0;
}

#login input:hover {
    box-shadow: 2px 2px 2px #f1efef;

}

#login .text {
    color:#333333;
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

#login .enter {
    text-align: center;
}

#login .enter  >button {
    background-image: linear-gradient(to right, blue, blue);
    border:0px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-family: "Poppins",sans-serif;
    font-weight: bold;
    font-size:15px;
    margin:10px 0;
    padding: 10px;
    width: 50%;
}

#login .enter  button:hover {
    background-image: linear-gradient(to right, rgb(199, 218, 240), rgb(14, 122, 247));
    color: black;
}
