@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.body-login {
    background-image: url(imagemOficial.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Poppins",sans-serif;
    padding: 0;
    margin:0;
}

a{
    text-decoration: none;
}

#first-access{
    width: 30%;
    margin:0 35%;
    padding-top: 100px;
}

#login{
    width: 30%;
    margin:0 35%;
    padding-top: 150px;
}

.box-login {
    box-shadow: rgb(233, 233, 240);
    background-image: linear-gradient(to top, rgb(160, 228, 240), rgb(9, 120, 247));
    padding: 20px;
    border-radius: 50px;
}

#first-access .box-login {
    background-image: radial-gradient(circle, #90bdff, #85b6ff, #7ab0ff, #6fa9ff, #64a2ff);
}

h2{
    color: black;
    text-align: center;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

label {
    color: black;
    display: block;
    font-weight: bold;
    font-size: 16px;
}

input {
    border-radius: 15px;
    width: 95%;
    height: 15px;
    padding: 5px 10px;
    background:white;
    border: 2px solid #ffff;
    margin-bottom: 10px;
}

input:focus {
    border: 2px solid #0D6EFD;
    outline:0;
}

input:hover {
    box-shadow: 2px 2px 2px #f1efef;

}

.text {
    cursor: pointer;
    color:#333333;
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

.enter {
    text-align: center;
}

.enter  >button {
    background-image: linear-gradient(to right, blue, blue);
    border:0px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-family: "Poppins",sans-serif;
    font-weight: bold;
    font-size:15px;
    margin:10px 0;
    padding: 10px;
    width: 50%;
}

#login .enter  button:hover {
    background-image: linear-gradient(to right, rgb(199, 218, 240), rgb(14, 122, 247));
    color: black;
}

#first-access .enter  button:hover{
    background-image: none;
    background-color: rgb(206, 229, 255);
    color: black;
}

#access-box{
    background-color: blue;
    border-radius: 0 0 30px 30px;
    padding:15px;
    width:40%;
    margin: 0 30%;
    text-align:center;
}
#access-box a{
    color:white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

#access-box  a:hover {
    color: #d6eeee;
  }