@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    font-family: "Poppins",sans-serif;
    margin: 0px;
    padding: 0px;
}
a:visited{
    color: inherit;
}
body{
    align-items: center;
    background-color: #F9F8FF;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Poppins",sans-serif;
}

/*Titulo*/
h1{ 
    font-size: 32px;
    color:#0D6EFD;
    font-weight: bolder;
    margin-top:100px;
    margin-bottom:50px;
    text-align: center;
}

/*Subtitulo*/
h2,h3{
    color:#028DCE;
    font-weight: bold;
    margin-top:10px;
}
h4{
    margin-block-start: 0px;
    margin-block-end: 20px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

label{ /*Antes dos campos de inserção*/
    color: black;
    font-weight: bold;
    font-size: 16px;
    font-family: "Poppins",sans-serif;
    margin-top: 20px;
}

.label-no-margin{ /* Retirar a margem superior das label */
    margin-top: 0px;
}

p{
    color:black;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
}
/*------------------- Inputs --------------------*/
button, input, select, textarea{
    border:none;
    border-radius: 10px;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    background-color: transparent;
}

input[type="radio"]{
    box-sizing: border-box;
    border:1px solid #6bc4ec;
    display:block;
    margin:0px;
    padding: 0;
    color: #333333;
}

input, select{
    background-color: white;
    border: 2px solid #02A7F0;
    color: #333333;
    padding: 5px 10px ;
}

input[type=text]:disabled, input[type="number"]:disabled, select:disabled {
    background-color: #A2DBFE;
    border:#A2DBFE ;
    font-weight: bold;
}

button:focus, select:focus, input[type="radio"]:focus{
    outline: 0;
}

textarea:focus, input:focus {
    border-radius: 10px;
    border: 2px solid #0D6EFD;
    outline: 0;
}

/*------------- Botão branco com borda azul------------------*/
.btn-white{ 
    border: 2px solid #02A7F0;
    background-color: white;
    color:black;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 25px;
}

 /*---------- Botão azul----------*/
.btn-blue{
    background-color: #58ACFA;
    color:black;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 25px;
}

.btn-blue:hover, .btn-white:hover, .btn-agendamento:hover{
    background-color: #8ED1F0;
    border-color:#58ACFA;
}

.btn-blue:active, .btn-white:active, .btn-agendamento:active{
    background-color: #4689C8;
}
/* -----------------------Alinha o texto ou caixa no centro-----------------*/
.content-center{
    text-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

/* ------------------Caixa branca padrão que tem em várias páginas--------------*/
.box{ 
    align-self: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #f1efef;
    margin-bottom: 50px;
    padding:30px 40px;
}

/*-------- Containers ----------*/
.container-box{
    width: 100%;
    align-items: center;
}

.container-atribution{
    align-items: center;
    width: 100%;
    margin-top: 25px;
}

.container-1{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.container-2 {
    align-items: center;
    margin-top: 100px;
    margin-right: 15%;
    margin-left: 15%;
    width: 70%;
    padding-right: 15px;
    padding-left: 15px;
}

/*------ Container para botão que fica na direita ------*/
.container-button{
    align-items: right;
    width: 19%;
    margin-left: 80%;
    margin-top: 15px;
}

/*--------- Caixas de texto ----------*/
.box-gray, .box-blue, .box-white { 
    border-radius: 10px;
    color:black;
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    font-size: 16px;
    height: 30px;
    margin-bottom:10px;
    padding: 5px 10px;  
}

.box-gray{ 
    background-color: #E6E6E6;
}

.box-blue{
    background-color: #A2DBFE;
}

.box-white{ 
    background-color: #ffff;
    box-shadow: 4px 4px 4px#DBDADA;

}

/*-------- Barra de pesquisa  ------------*/
.search-bar{
    margin-bottom: 5px;
}

.search-bar input {
    border: 2px solid #02A7F0;
    border-right: 0;
    border-radius: 20px 0 0 20px;
    background-color: white;
    color: #333333;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    text-align: center;
    padding-left: 15px;
}

.search-bar button {
    border: 2px solid #02A7F0;
    border-left: 0;
    border-radius: 0px 20px 20px 0px;
    height: 36px;
    margin-left: -5px;
    padding-right:15px;
}

.search-bar input:focus {
    outline: 0;
}

.search-bar button i{
    color:#02A7F0;
    cursor:pointer;
    font-size: 16px;
}

.search-bar button i:hover{
    color: #0D6EFD;
}

/*------------ Icone de download  ------------*/
.download-icone{
    float: right;
}

.download-icone button i{
    color:#0D6EFD;
    cursor:pointer;
    font-size: 30px;
}

.download-icone button i:hover{
    color: #02A7F0;
}

#tela-icone .download-icone{
    margin-top: 10px;
    margin-inline: 30px;
}
#tela-icone .download-icone button i{
    font-size: 45px;
}
/*------------ Menu  ------------*/

.body-menu{
    align-items: center;
    background-color: #ffff;
}

.card-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #F2F2F2;
    background-clip: border-box;
    border-radius:15px;
    height: 140px;
    box-shadow: 1px 1px 1px #C8C8C8;
    -webkit-box-shadow: 2px 2px 8px #C8C8C8;
    -moz-box-shadow: 2px 2px 8px #C8C8C8;
}

.card-menu:hover {
    background-color: #8ED1F0;
    border-radius:5px;
    transform: scale(1.2); 

}

.card-options {
    border: 0;
    margin: 0 10px 30px 10px;
}

.card-options_title a{
    align-self: center;
    color: black;
    font-family: "Poppins",sans-serif;
    font-weight: bold;
    line-height: 20px; 
}
.card-options_title a:hover, .card-options_title a:focus {
    color: #0D6EFD;
}
.card-options-icon {
    position: relative;
    margin: 10px 0 10px 0;
}

.card-options-icon .options-icon {
    width: 50px;
    height: 50px;
}

.options-icon i {
    padding-top: 10px;
    font-size: 45px;
    color:#007bff;
}

.icon-list i{
    font-size: 25px;
}
/*------------ Cadastro------------*/

#register input, #register select{
    width: 100%;
}
#register .btn-blue{ 
    align-self: center;
    width: 35%;
    margin-top:20px;
    margin-left:32%;
    margin-right:32%;
}

/*------------ Retirar marcação dos inputs ------------*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*------------ Listagem de pacientes ------------*/
#patientList h1{
    margin-bottom:10px;
}

#patientList .box-white{ 
    background-color: #ffff;
    border-radius: 55px;
    box-shadow: 5px 5px 5px#DBDADA;
    height: 60px;
    margin-bottom: 25px;
    -webkit-box-shadow: 3px 3px 8px #C8C8C8;
    -moz-box-shadow: 3px 3px 8px #C8C8C8;
    padding: 15px 30px;
}

#patientList .box-blue{
    background-color: #A2DBFE;
    border-radius: 10px;
    color:black;
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    font-size: 17px;
    padding: 6px 10px;
}

#patientList .btn-blue{
    padding: 5px 10px;
}

/*------------ Agendamentos ------------*/
.box-agendamento{
    background-color: #ffff;
    border: 1.5px solid #58ACFA;
    border-radius: 0 50px 50px 0;
    padding: 10px 20px;
    margin-bottom: 25px;
}
.box-agendamento:nth-child(even){
    border-radius: 0 50px 0 0;
}
.box-agendamento:nth-child(odd){
    border-radius: 0 0 50px 0;
}

#agendamento .btn-white{ 
    padding: 0;
    height:30px;
    width: 100%;
}

/*------------ Botão para o paciente, presente no agendamento ------------*/
.btn-Patient{
    background-color: #A2DBFE;
    border-radius: 10px;
    color:black;
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.btn-Patient:active{
    background-color: #4689C8;
}

.btn-Patient:hover{
    background-color: #58ACFA;
}


/*----- Botão de opção de sexo -----*/
.border-m{
    display: flex;
    background-color: white;
    border: 2px solid #02A7F0;
    padding:7px 0;
    border-radius: 10px 0 0 10px;
    border-right: 0;
}

.border-f{
    display: flex;
    background-color: white;
    border: 2px solid #02A7F0;
    padding:7px 0;
    border-radius: 0 10px 10px 0;
}

.border-left:hover, .border-right:hover{
    background-color: #8ED1F0;
    border-color:#58ACFA;
}

.item-center{
    align-items: center;
    text-align: center;
}

.hide{ /* classe para o Js */
    display: none;
}


/* Cria um checkbox diferente */
#permission input[type="checkbox"] { 
    margin-bottom: 0px;
}

/*----------------------------plantonista -------------------*/
#plantonista .title{
    color:#0D6EFD;
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin-bottom:10px;
    padding: 5px 10px;  
}

#plantonista .box-blue, #plantonista .box-button{
    height: 40px;
    padding-top: 10px;
}

#plantonista input[type="checkbox"] {
    height: 25px;
    width: 25px;
}


.box-plantonista, 
.box-medicamento,
.box-backup{
    background-color: #ffff;
    border: 1.5px solid #58ACFA;
    border-radius:0 50px 0 0;
    padding: 10px 20px;
    margin-bottom: 25px;
}