@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
}

a:visited {
    color: inherit;
}

body {
    align-items: center;
    background-color: #F9F8FF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
}

/*Titulo*/

h1 {
    font-size: 32px;
    color: #0D6EFD;
    font-weight: bolder;
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
}

.title-download{
    margin-top: 0;
}
/*Subtitulo*/

h2, h3 {
    color: #028DCE;
    font-weight: bold;
    margin-top: 10px;
}

h4 {
    margin-block-start: 0px;
    margin-block-end: 20px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media (min-width: 426px) and (max-width:768px) {
    h1 {
        font-size: 26px;
        margin-top: 110px;
        margin-bottom: 40px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
        margin-block-end: 15px;
    }
}

@media (max-width: 425px) {
    h1 {
        font-size: 22px;
        margin-top: 100px;
        margin-bottom: 35px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    h4 {
        font-size: 10px;
        margin-block-end: 16px;
    }
}

label {
    /*Antes dos campos de inserção*/
    color: black;
    font-weight: bold;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
}

@media (min-width: 426px) and (max-width:768px) {
    label {
        margin-top: 16px;
    }
}

@media (max-width: 425px) {
    label {
        margin-top: 12px;
    }
}

p {
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

@media (max-width: 320px) {
    label, p {
        font-size: 14px;
    }
}

/*------------------- Inputs --------------------*/

button, input, select, textarea {
    border: none;
    border-radius: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    background-color: transparent;
}

input[type="radio"] {
    box-sizing: border-box;
    border: 1px solid #6bc4ec;
    display: block;
    margin: 0px;
    padding: 0;
    color: #333333;
}

input, select {
    background-color: white;
    border: 2px solid #02A7F0;
    color: #333333;
    padding: 5px 10px;
}

input[type=text]:disabled, input[type="number"]:disabled, input[type="email"]:disabled, input[type="date"]:disabled, select:disabled {
    background-color: #A2DBFE;
    border: 2px solid #A2DBFE;
    font-weight: bold;
}

button:focus, select:focus, input[type="radio"]:focus {
    outline: 0;
}

textarea:focus, input:focus, select:focus {
    border-radius: 10px;
    border: 2px solid #0D6EFD;
    outline: 0;
}

/*------------- Botão branco com borda azul------------------*/

.btn-white {
    border: 2px solid #02A7F0;
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 25px;
}

#edit_div .btn-white {
    border: 2px dashed #0D6EFD;
}

/*---------- Botão azul----------*/

.btn-blue {
    background-color: #58ACFA;
    color: black;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 25px;
}

.btn-blue:hover, .btn-white:hover, .btn-agendamento:hover {
    background-color: #8ED1F0;
    border-color: #58ACFA;
}

.btn-blue:active, .btn-white:active, .btn-agendamento:active {
    background-color: #4689C8;
}

/*---------- Botão cinza----------*/

.btn-gray {
    border-color: #6c757d;
    background-color: #6c757d;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 25px;
    margin-right: 10px;
}

.btn-gray:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-gray.focus, .btn-gray:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-gray.disabled, .btn-gray:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

/* -----------------------Alinha o texto ou caixa no centro-----------------*/

.content-center {
    text-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

/* -----------------------Alinha a caixa na direita-----------------*/

.content-right {
    text-align: center;
    width: 50%;
    margin-left: 50%;
    margin-bottom: 20px;
}

/* ------------------Caixa branca padrão que tem em várias páginas--------------*/

.box {
    align-self: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #f1efef;
    margin-bottom: 50px;
    padding: 30px 40px;
}

@media (min-width: 426px) and (max-width:768px) {
    .box {
        margin-bottom: 40px;
        padding: 20px 25px;
    }
}

@media (max-width: 425px) {
    .box {
        margin-top: 30px;
        padding: 20px;
    }
}

/*-------- Containers ----------*/

.container-box {
    width: 100%;
    align-items: center;
}

.container-atribution {
    align-items: center;
    width: 100%;
    margin-top: 25px;
}

label {
    margin-top: 12px;
}

.container-1 {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.container-2 {
    align-items: center;
    margin-top: 80px;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
}

@media (min-width: 321px) and (max-width:958px) {
    .container-1 {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 320px) {
    .container-1, .container-2 {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

/*------------ Retirar marcação dos inputs ------------*/

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

/*------ Container para botão que fica na direita ------*/

.container-button {
    align-items: right;
    width: 19%;
    margin-left: 80%;
    margin-top: 15px;
}

/*--------- Caixas de texto ----------*/

.box-gray, .box-blue, .box-white {
    border-radius: 10px;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    height: fit-content;
    margin-bottom: 10px;
    padding: 5px 10px;
    width: 100%;
}

.box-gray {
    background-color: #E6E6E6;
}

.box-blue {
    background-color: #A2DBFE;
}

.box-white {
    background-color: #ffff;
    box-shadow: 4px 4px 4px#DBDADA;
}

@media (min-width: 321px) and (max-width:768px) {
    .box-gray, .box-blue, .box-white {
        padding: 5px;
        text-align: center;
        height: fit-content;
        margin-bottom: 15px;
    }
}

@media (max-width: 320px) {
    .box-gray, .box-blue, .box-white {
        padding: 5px;
        font-size: 14px;
        text-align: center;
        height: fit-content;
    }
}

/*-------- Barra de pesquisa  ------------*/

.search-bar {
    margin-bottom: 5px;
}

.search-bar input {
    border: 2px solid #02A7F0;
    border-right: 0;
    border-radius: 20px 0 0 20px;
    background-color: white;
    color: #333333;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: center;
    padding-left: 15px;
}

.search-bar button {
    border: 2px solid #02A7F0;
    border-left: 0;
    border-radius: 0px 20px 20px 0px;
    height: 36px;
    margin-left: -5px;
    padding-right: 15px;
}

.search-bar input:focus {
    outline: 0;
}

.search-bar button i {
    color: #02A7F0;
    cursor: pointer;
    font-size: 16px;
}

.search-bar button i:hover {
    color: #0D6EFD;
}

@media (min-width: 321px) and (max-width:760px) {
    .search-bar input {
        padding-left: 5px;
        width: 85%;
        font-size: 14px;
    }
    .search-bar button {
        height: 34px;
        padding-right: 5px;
    }
    .search-bar button i {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .search-bar input {
        padding-left: 5px;
        width: 80%;
        font-size: 14px;
    }
    .search-bar button {
        height: 34px;
        padding-right: 5px;
    }
    .search-bar button i {
        font-size: 13px;
    }
}

@media (max-width:760px) {
    #search .box {
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 20px 15px 10px 15px;
    }
    #search .content-center{
        margin-bottom: 0;
    }
}


/*------------ Icone de download  ------------*/

.download-icon button i {
    color: #0D6EFD;
    cursor: pointer;
    font-size: 30px;
}

.download-icon button i:hover {
    color: #02A7F0;
}

#screen-icon{
    width:100%;
    margin-top: 100px;
    margin-bottom: 4%;
}

#screen-icon .download-icon {
    margin-top: 10px;
    margin-inline: 30px;
    margin-left: 85%;
    margin-right: 5%;
}

#screen-icon .download-icon button i {
    font-size: 35px;
}

@media (min-width:1025px) {
    #screen-icon{
        margin-bottom: 2%;
    }
    #screen-icon .download-icon {
        margin-left: 90%;
    }
}

@media (max-width: 425px) {
    #screen-icon .download-icon button i, .download-icon button i {
        font-size: 25px;
    }
    #screen-icon{
        margin-top: 50px;
    }
}

@media (min-width:426px) and (max-width:952px){
    #screen-icon{
        margin-top: 70px;
    }
}
/*------------ Menu  ------------*/

.body-menu {
    align-items: center;
    background-color: #ffff;
}

.card-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #F2F2F2;
    background-clip: border-box;
    border-radius: 15px;
    height: 140px;
    box-shadow: 1px 1px 1px #C8C8C8;
    -webkit-box-shadow: 2px 2px 8px #C8C8C8;
    -moz-box-shadow: 2px 2px 8px #C8C8C8;
    padding: 0 5px;
}

.card-menu:hover {
    background-color: #8ED1F0;
    border-radius: 5px;
    transform: scale(1.2);
}

.card-options {
    border: 0;
    margin: 0 10px 30px 10px;
}

.card-options_title a {
    align-self: center;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    line-height: 20px;
}

.card-options_title a:hover, .card-options_title a:focus {
    color: #0D6EFD;
}

.card-options-icon {
    position: relative;
    margin: 10px 0 10px 0;
}

.card-options-icon .options-icon {
    width: 50px;
    height: 50px;
}

.options-icon i {
    padding-top: 10px;
    font-size: 45px;
    color: #007bff;
}

.icon-list i {
    font-size: 25px;
}

@media (min-width: 426px) and (max-width:852px) {
    .card-options {
        margin: 0 5px 20px 5px;
    }
    .card-options-icon .options-icon {
        width: 40px;
        height: 40px;
    }
    .options-icon i {
        padding-top: 8px;
        font-size: 35px;
    }
}

@media (max-width: 425px) {
    .card-options {
        margin: 0 5px 20px 5px;
    }
    .card-options-icon .options-icon {
        width: 35px;
        height: 35px;
    }
    .options-icon i {
        padding-top: 8px;
        font-size: 35px;
    }
    .card-menu {
        height: 120px;
    }
}

/*------------ Cadastro------------*/

#register input, #register select {
    width: 100%;
}

#register .btn-blue {
    align-self: center;
    width: 35%;
    margin-top: 20px;
    margin-left: 32%;
    margin-right: 32%;
}

@media (max-width: 767px) {
    #register .btn-blue {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 320px) {
    #register .btn-blue {
        font-size: 15px;
        padding: 5px 0;
    }
}

/*------------ Listagem de pacientes ------------*/

#patientList h1 {
    margin-bottom: 10px;
}

#patientList .box-white {
    background-color: #ffff;
    border-radius: 55px;
    box-shadow: 5px 5px 5px#DBDADA;
    height: 60px;
    margin-bottom: 25px;
    -webkit-box-shadow: 3px 3px 8px hsl(0, 0%, 78%);
    -moz-box-shadow: 3px 3px 8px #C8C8C8;
    padding: 15px 30px;
    width: 100%;
}

#patientList .box-blue {
    background-color: #A2DBFE;
    border-radius: 10px;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 17px;
    padding: 6px 10px;
}

#patientList .btn-blue {
    padding: 5px 10px;
}

@media (max-width: 1024px) {
    #patientList .box-white {
        margin-bottom: 20px;
        padding: 15px;
    }
    #patientList .box-blue {
        font-size: 16px;
        padding: 6px;
    }
    #patientList .btn-blue {
        font-size: 16px;
        padding: 5px;
        margin-left: -12px;
        margin-bottom: 0;
    }
}

@media (max-width:950px) {
    #patientList .btn-blue {
        width: 90%;
        margin: 0 5%;
    }
    #patientList .box-white {
        height: fit-content;
        border-radius: 25px;
    }
}

/*------------ Botão para o paciente, presente no agendamento ------------*/

.btn-Patient {
    background-color: #A2DBFE;
    border-radius: 10px;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px 10px;
    text-align: left;
}

.btn-Patient:active {
    background-color: #4689C8;
}

.btn-Patient:hover {
    background-color: #58ACFA;
}

@media (min-width: 321px) and (max-width:950px) {
    a>.btn-Patient {
        padding: 5px;
        text-align: center;
        height: fit-content;
        margin-bottom: 15px;
    }
}

@media (max-width: 320px) {
    a>.btn-Patient {
        padding: 5px;
        font-size: 14px;
        text-align: center;
        height: fit-content;
    }
}

/*COMEÇA O DE JOÃO AQUI */

/*------------ Agendamentos ------------*/

.box-scheduling, .box-historic{
    background-color: #ffff;
    border: 1.5px solid #58ACFA;
    border-radius: 0 50px 50px 0;
    padding: 10px 20px;
    margin-bottom: 25px;
}

.box-scheduling:nth-child(even), .box-historic:nth-child(even) {
    border-radius: 0 50px 0 0;
}

.box-scheduling:nth-child(odd), .box-historic:nth-child(odd){
    border-radius: 0 0 50px 0;
}

#scheduling .btn-white {
    padding: 0;
    height: 30px;
    width: 100%;
}

@media (min-width: 1000px) and (max-width:1024px) {
    #scheduling .box-blue, #scheduling .box-white {
        width: 100%;
    }
    #scheduling  .box-gray { /* Verificar! desconfigurando algumas páginas! */
        width:fit-content;
    }
    #scheduling .btn-white {
        width: 125%;
        margin-left: -25%;
    }
}

@media (min-width: 761px) and (max-width:950px) {
    #scheduling .btn-white {
        width: 32%;
        margin-left: 68%;
    }
}

@media (max-width: 760px) {
    #scheduling .btn-white {
        width: 90%;
        margin: 0 5%;
    }

    .box-scheduling, .box-historic{
        border-radius: 0 40px 40px 0;
        padding: 10px 15px;
        margin-bottom: 20px;
    }
    
    .box-scheduling:nth-child(even), .box-historic:nth-child(even){
        border-radius: 0 40px 0 0;
    }
    
    .box-scheduling:nth-child(odd), .box-historic:nth-child(odd){
        border-radius: 0 0 40px 0;
    }
}

@media (min-width: 426px) and (max-width:768px) {
    #historic .btn-blue {
        width: 30%;
        margin-left: 70%;
    }
}

@media (max-width: 425px) {
    #historic .btn-blue {
        width: 90%;
        margin: 0 5%;
    }
}


/*----- Botão de opção de sexo -----*/

.border-m {
    display: flex;
    background-color: white;
    border: 2px solid #02A7F0;
    padding: 7px 0;
    border-radius: 10px 0 0 10px;
}

.border-f {
    display: flex;
    background-color: white;
    border: 2px solid #02A7F0;
    padding: 7px 0;
    border-radius: 0 10px 10px 0;
}

@media (max-width: 990px) {
    /*Botões de Sexo perdem a borda reta caso não apareçam um do lado do outro mais*/
    .border-f, .border-m {
        display:block;
        align-items:left;
    }
}

.border-left:hover, .border-right:hover {
    background-color: #8ED1F0;
    border-color: #58ACFA;
}

.item-center {
    align-items: center;
    text-align: center;
}

.hide {
    /* classe para o Js */
    display: none;
}

/* Cria um checkbox diferente */

#permission input[type="checkbox"] {
    margin-bottom: 0px;
}

/*----------------------------plantonista -------------------*/

#on-duty .title {
    color: #0D6EFD;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
    padding: 5px 10px;
}

@media (max-width: 724px) {
    #on-duty .title {
        font-size: 1.2rem;
    }
    #on-duty p {
        font-size: 0.8rem;
    }
    #on-duty .box-blue {
        width: 100%;
    }
}

#on-duty .box-blue, #on-duty .box-button {
    height: 40px;
    padding-top: 10px;
}

#on-duty input[type="checkbox"] {
    height: 25px;
    width: 25px;
}

#on-duty .container-button{
    align-items: center;
    margin-left: 90%;
    margin-top: 15px;
}

.box-on-duty, .box-medicament, .box-backup{
    background-color: #ffff;
    border: 1.5px solid #58ACFA;
    border-radius: 0 50px 0 0;
    padding: 10px 20px;
    margin-bottom: 25px;
}

@media (max-width:1024px){
    #on-duty .box-blue{
        height: fit-content;
        padding: 5px 15px;
    }
}

@media (max-width:760px){
    .box-on-duty{
        border-radius: 0 40px 0 0;
        padding: 10px 5px;
    }
}
@media (max-width:958px){
    #on-duty input[type="checkbox"] {
        height: 15px;
        width: 15px;
        margin-bottom: 0;
        box-sizing:initial!important
    }
    #on-duty .btn-white{
        width:100%;
        text-align: center;
    }

    #on-duty .container-button{
        width:30%;
        margin-left: 70%;
        margin-top: 15px;
    }
    
}

/*---------- Confirmação de ação e erros ------------------ */

.confirmation-content {
    background-color: #fff;
    border: 1px solid rgba(247, 245, 245, 0.2);
    border-radius: 25px;
    box-shadow: 4px 4px 4px #C8C8C8;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    outline: 0;
    position: relative;
}

.confirmation-content button {
    margin-bottom: 0;
}

.msg-sucess, .msg-error {
    position: relative;
    border-radius: 10px;
    border: 0.5px solid rgba(255, 255, 255, 0);
    box-shadow: 3px 3px 3px #e0dede;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    opacity: 0.9;
    padding: 20px 10px;
    margin-bottom: 1rem;
    position: relative;
    text-align: center;
}

.msg-sucess {
    background-image: linear-gradient( to right, #7fffd4, #00fa9a, #00ff7f);
}

.msg-error {
    background-image: linear-gradient( to right, #ff6f88, #f5566e, #f51a3b);
}

.radial-no-edit {
    background-color: #A2DBFE; /* Não selecionado */
}
.radial-edit{
    background-color: white; /* Selecionado */
}

.normal-label {
    /* Label dentro de input do tipo Radio */
    margin: 0;
    font-weight: normal;
}

/*---------------------Listagem de medicamentos ---------------------------*/

#medicament-list .box-white {
    background-color: #ffff;
    border-radius: 20px;
    box-shadow: 5px 5px 5px#DBDADA;
    height: fit-content;
    margin-bottom: 20px;
    -webkit-box-shadow: 3px 3px 8px #C8C8C8;
    -moz-box-shadow: 3px 3px 8px #C8C8C8;
    padding: 15px 30px;
}

/*----------------------------Alterar senha ---------------------------------*/

.set-password {
    align-self: center;
    align-items: center;
    background-color: white;
    border-radius: 0 30px 0 0;
    box-shadow: 2px 2px 2px #0D6EFD;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

.password-title {
    background-color: #0D6EFD;
    border-radius: 0 30px 0 0;
    color: white;
    font-weight: bold;
    padding: 15px;
}

@media (max-width: 430px) {
    .password-title {
        font-size: 1rem;
    }
    .input-full-width {
        width: max-content;
    }
}

.input-full-width {
    width: 100%;
}

.no-overflow-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 426px) and (max-width:768px) {
    #historic .btn-blue {
        width: 30%;
        margin-left: 70%;
    }
}

@media (max-width: 425px) {
    #historic .btn-blue {
        width: 90%;
        margin: 0 5%;
    }
    #psw_info_div .btn-white{ /* João 30/05 */
        width: 100%;
    }
    #psw-field input{ /* João 30/05 */
        width: 90%;
    }
    #cancelar{ /* João 30/05 */
        width: 90%;
        height: fit-content;
        margin-inline: 0 auto;
    }
    #alterarSenha{ /* João 30/05 */
        width: 90%;
        height: fit-content;
        margin-inline: 0 auto;
    }
}

.highlight-change{
    background-color:#A2DBFE;
    border-radius: 50px;
    opacity: 80%;
    transition: 1s;
}
.transition-1s{
    border-radius: 50px;
    transition: 1s;
}
@media (max-width: 1140px){ /* João 30/05 */
    #remove-user-btn .btn-blue{
        width: fit-content;
        margin-inline: 10px;
    }
}
@media (max-width: 992px){ /* João 30/05 */
    #delete-user-container .btn-blue{
        width: 60%;
        margin-inline: 10px;
        padding: 0;
        padding-block: 5px;
    }
}

.scrolls { /* João 30/05 */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    text-overflow: normal;
}

@media (max-width: 460px){ /* João 30/05 */
    #atribui-select-new select{
        width: 100%;
    }
}

/*----------------------------Relatorio Gerencial ---------------------------------*/
.card-options_title b {
    align-self: center;
    color: blue;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    line-height: 60px;
    font-size: 45px;
}
.card-options_title b:hover, .card-options_title b:focus {
    color: #0D6EFD;
}

.horizontal-list{
    margin-inline: 10px;
    display:flex
    
}
.list-log-page{
    background-color: #02A7F0;
    border-radius: 100px;
    margin-inline: 5px;
    padding: 5px;
    align-self: flex-end;
    display: inline-block;
    zoom:1;
    *display:inline;
    text-align: center;
    width: fit-content;
}

.list-log-page:hover{
    background-color:#6bc4ec;
    cursor:pointer;
}

#log_controler .btn-white{
    width: fit-content;
    padding-inline: 10px;
}

