@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    font-family: "Poppins",sans-serif;
    margin: 0px;
    padding: 0px;
}
body, ul, li, p{
    font-size: 1.3rem;
    list-style: none;
    font-weight: bold;
}
body{
    background-color: #F9F8FF;
}
h1{
    color: #0D6EFD;
    text-align: center;
    margin-block: 50px;
    font-weight: bold;
    font-size: 2.5rem;
}